{% extends 'base.html.twig' %}

{% block title %}
    Création de catégorie de DVD
{% endblock %}

{% block body %}
    <div class="container mt-2 mb-2">
        <h1>Création d'une catégorie de DVD</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Créer la catégorie</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
