{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'un DVD à la base de données
{% endblock %}

{% block body %}
    <div class="container mt-2 mb-2">
        <h1>Ajout d'un DVD à la base de données</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Ajouter le DVD</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

