<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MyLibrary &raquo; {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        {% include 'common/header.html.twig' %}

        {% block body %}{% endblock %}

        <script src="/js/jquery-3.4.1.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
